<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>AddBlog</servlet-name>
		<display-name>AddBlog</display-name>
		<description></description>
		<servlet-class>wrapper.AddBlog</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateTracker</servlet-name>
		<display-name>CreateTracker</display-name>
		<description></description>
		<servlet-class>handler.CreateTracker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBlog</servlet-name>
		<url-pattern>/AddBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTracker</servlet-name>
		<url-pattern>/CreateTracker</url-pattern>
	</servlet-mapping>
<error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
    
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/503.html</location>
    
  </error-page>
   <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
    
  </error-page>
</web-app>
